const Koa = require('koa');
<% if(middlewares.cors) { %>
const cors = require('koa-cors');
<% }%>
<% if(middlewares.static) { %>
const static = require('koa-static');
<% }%>
const app = new Koa();
<% if(middlewares.cors) { %>
app.use(cors());
<% }%>
// static assets
<% if(middlewares.static) { %>
const path = require('path');
app.use(static(path.resolve(__dirname, '..', 'build')));
<% }%>


app.listen(<%=port%>);