{
    "name": "<%= packageName %>",
    "version": "1.0.0",
    "description": "**Edit a file, create a new file, and clone from Bitbucket in under 2 minutes**",
    "main": "index.js",
    "scripts": {
      "test": "rimraf hello && node ./bin/index.js"
    },
    "author": "",
    "license": "ISC",
    "homepage": "https://bitbucket.org/lvfengjiao/mini-koa-cli#readme",
    "dependencies": {
      "koa": "^2.13.1"
      <% if(middlewares.static) { %>
        ,"koa-cors": "0.0.16"
        <%}%>
        <% if(middlewares.static) { %>
        ,"koa-static": "^5.0.0"
        <%}%>
    },
    "devDependencies": {
      "rimraf": "^3.0.2"
    }
  }
  